<div class="row">
		<div class="col-xl-6">
			<div class="widget widget-six">
				<div class="widget-header">
					<div class="dropdown pull-right">
						<a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
							<i class="dropdown-inline-button-icon icmn-cog"></i>
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu" aria-labelledby="" role="menu">
							<a class="dropdown-item" href="javascript:void(0)">Remove</a>
							<a class="dropdown-item" href="javascript:void(0)">Edit</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="javascript:void(0)">Remove All</a>
						</ul>
					</div>
					<strong class="margin-right-10">Weekly Statisticts</strong>
					<span class="margin-right-10 nowrap">
						<span class="donut donut-success"></span>
						Guns
					</span>
					<span class="margin-right-10 nowrap">
						<span class="donut donut-primary"></span>
						Girls
					</span>
					<span class="margin-right-10 nowrap">
						<span class="donut donut-yellow"></span>
						Drugs
					</span>
				</div>
				<div class="widget-body">
					<div class="chart-line height-250 chartist"></div>
				</div>
			</div>
		</div>
		<div class="col-xl-6">
			<div class="widget widget-six">
				<div class="widget-header">
					<div class="dropdown pull-right">
						<a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
							<i class="dropdown-inline-button-icon icmn-cog"></i>
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu" aria-labelledby="" role="menu">
							<a class="dropdown-item" href="javascript:void(0)">Remove</a>
							<a class="dropdown-item" href="javascript:void(0)">Edit</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="javascript:void(0)">Remove All</a>
						</ul>
					</div>
					<strong class="margin-right-10">Yearly Statistics %</strong>
					<span class="margin-right-10 nowrap">
						<span class="donut donut-primary"></span>
						Old
					</span>
					<span class="margin-right-10 nowrap">
						<span class="donut donut-success"></span>
						New
					</span>
				</div>
				<div class="widget-body">
					<div class="chart-overlapping-bar height-250 chartist"></div>
				</div>
			</div>
		</div>
	</div>