	<div class="row">
		<div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12">
			<div class="widget widget-seven background-info">
				<div class="widget-body">
					<div href="javascript: void(0);" class="widget-body-inner">
						<h5 class="text-uppercase">Energy Savings</h5>
						<i class="counter-icon icmn-power2"></i>
						<span class="counter-count">
							<!-- <span class="counter-init" data-from="0" data-to="30"></span>% -->
							<counto [step]="35" [countTo]="30" [countFrom]="0" [duration]="15" (countoChange)="energy = $event">{{energy}}</counto>%
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12">
			<div class="widget widget-seven background-warning">
				<div class="widget-body">
					<div href="javascript: void(0);" class="widget-body-inner">
						<h5 class="text-uppercase">{{weatherFromApi}}<sub>({{locationName}})</sub></h5>
						<i class="counter-icon icmn-temperature2"></i>
						<span class="counter-count">
							<!-- <span class="counter-init" data-from="0" [attr.data-to]="weatherDegrees"></span> C -->
							<counto [step]="35" [countTo]="weatherDegrees" [countFrom]="0" [duration]="15" (countoChange)="weather = $event">{{weather}}</counto> &deg;C
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12">
			<div class="widget widget-seven background-success">
				<div class="widget-body">
					<div href="javascript: void(0);" class="widget-body-inner">
						<h5 class="text-uppercase">Fixtures working</h5>
						<i class="counter-icon icmn-lamp7"></i>
						<span class="counter-count">
							<i class="counter-icon icmn-arrow-up5"></i>
							<!-- <span class="counter-init" data-from="0" data-to="197"></span> -->
							<counto [step]="35" [countTo]="1" [countFrom]="0" [duration]="15" (countoChange)="fixtures_working = $event">{{fixtures_working}}</counto>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12">
			<div class="widget widget-seven background-danger">
				<div class="widget-body">
					<div href="javascript: void(0);" class="widget-body-inner">
						<h5 class="text-uppercase">Fixtures down</h5>
						<i class="counter-icon icmn-lamp8"></i>
						<span class="counter-count">
							<i class="counter-icon icmn-arrow-down5"></i>
							<!-- <span class="counter-init" data-from="0" data-to="3"></span> -->
							<counto [step]="35" [countTo]="0" [countFrom]="0" [duration]="15" (countoChange)="fixtures_down = $event">{{fixtures_down}}</counto>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>