<div class="row">
		<div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12">
			<div class="widget widget-seven">
				<div class="carousel-widget carousel slide" data-ride="carousel">
					<div class="carousel-inner" role="listbox">
						<div class="carousel-item active">
							<div class="widget-body">
								<div class="widget-body-icon">
									<i class="icmn-cogs"></i>
								</div>
								<a href="javascript: void(0);" class="widget-body-inner">
									<h2>Maintenance</h2>
									<p>View Report</p>
								</a>
							</div>
						</div>
						<div class="carousel-item">
							<div class="widget-body">
								<div class="widget-body-icon">
									<i class="icmn-download"></i>
								</div>
								<a href="javascript: void(0);" class="widget-body-inner">
									<h2>All Reports</h2>
									<p>Pdf Download</p>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12">
			<div class="widget widget-seven">
				<div class="carousel-widget-2 carousel slide" data-ride="carousel">
					<div class="carousel-inner" role="listbox">
						<div class="carousel-item active">
							<a href="javascript: void(0);" class="widget-body">
								<h2>
									<i class="icmn-lamp3"></i> Fixtures
								</h2>
								<p>
									Total: 765
								</p>
							</a>
						</div>
						<div class="carousel-item">
							<a href="javascript: void(0);" class="widget-body">
								<h2>
									<i class="icmn-users"></i> Users
								</h2>
								<p>
									Total: 200
									<br />
									Online: 10
								</p>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12">
			<div class="widget widget-seven background-danger">
				<div class="carousel-widget carousel slide" data-ride="carousel">
					<div class="carousel-inner" role="listbox">
						<div class="carousel-item active">
							<a href="javascript: void(0);" class="widget-body">
								<h2>
									<i class="icmn-books"></i> Todo
								</h2>
								<p>
									1. Upgrade
									<br />
									2. Finish
								</p>
							</a>
						</div>
						<div class="carousel-item">
							<a href="javascript: void(0);" class="widget-body">
								<h2>
									<i class="icmn-download"></i> Finish
								</h2>
								<p>
									1. Upgrade
									<br />
									2. Prepare
								</p>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12">
			<div class="widget widget-seven background-info" style="background-image: url(../assets/common/img/temp/photos/9.jpeg)">
				<div class="carousel-widget-2 carousel slide" data-ride="carousel">
					<div class="carousel-inner" role="listbox">
						<div class="carousel-item active">
							<a href="javascript: void(0);" class="widget-body">
								<h2>
									<i class="icmn-earth3"></i> Map
								</h2>
								<p>
									Display All Fixtures
								</p>
							</a>
						</div>
						<div class="carousel-item">
							<a href="javascript: void(0);" class="widget-body">
								<h2>
									<i class="icmn-vector2"></i> Layout
								</h2>
								<p>
									Fixture Plan Layout
								</p>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>